
@{
    ViewData["Title"] = "Домашная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>

    

    @User.Identity.Name

    <p>Здесь что-то да отображается.</p>
    @*
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    *@
</div>


